[Unit]
Description=Jellyfin Media Renamer

[Service]
ExecStart=/var/lib/jellyfin-media-renamer/jmr-app/jmr
User=jellyfin-media-renamer

[Install]
WantedBy=multi-user.target

