[Unit]
Description=Jellyfin Media Renamer

[Service]
User=jellyfin-media-renamer
WorkingDirectory=/var/lib/jellyfin-media-renamer/jmr-app
ExecStart=/var/lib/jellyfin-media-renamer/jmr-app/start-all.sh

[Install]
WantedBy=multi-user.target

